<h2>Inscrição</h2>

<%= form_for apply do |f| %>
    <div>
      <%= f.label :applicant_name, 'Nome' %>
      <%= f.text_field :applicant_name %>
    </div>
    <div>
      <%= f.label :email, 'Email' %>
      <%= f.text_field :email %>
    </div>
    <div>
    <%= f.label :job_id, 'Vagas' %>
    <%= f.collection_select(:job_id, @jobs, :id, :title)  %>
    </div>
    <%= f.submit 'Enviar' %>
  <% end %>