<h1>Inscrição</h1>

<p><%= link_to 'Efetuar inscrição', new_apply_path %></p>

<% if @applies.empty? %>
  <p>Nenhuma inscrição efetuada.</p>
<% else %>
  <h3>Inscrições efetuadas</h3>
  <% @applies.each do |apply| %>
    <p>Nome: <%= apply.applicant_name %></p>
    <p>Email: <%= apply.email %></p>
    <p>Vaga: <%= apply.job.title %></p>
    <p><input type="radio" checked="checked"/> Selecionar perfil</p>
    <p><%= link_to 'Deletar candidatura', apply_path(apply), method: :delete %></p>
  <% end %>
<% end %>
