<% if @applicant_profile.errors.any? %>
    <p>Favor corrigir os seguintes erros</p>
    <ul>
    <% @applicant_profile.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for applicant_profile do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :social_name, 'Nome social' %>
      <%= f.text_field :social_name %>
    </div>
    <div class="form-group">
      <%= f.label :date_of_birth, 'Data de aniversário' %>
      <%= f.date_field :date_of_birth %>
    </div>
    <div class="form-group">
      <%= f.label :education, 'Educação' %>
      <%= f.text_field :education %>
    </div>
    <div class="form-group">
      <%= f.label :applicant_description, 'Descrição' %>
      <%= f.text_field :applicant_description %>
    </div> 
    <div class="form-group">
      <%= f.label :experience, 'Experiência' %>
      <%= f.text_field :experience %>
    </div> 
    <%= f.submit 'Enviar' %>
<% end %>  
