<h3>Adicionar Comentário Headhunter</h3>

<%= form_for( [@head_proposal, @head_proposal.head_comments.build] ) do |f| %>
    <div>
      <%= f.label :username, 'Nome' %>
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :body, 'Texto' %>
      <%= f.text_area :body %>
    </div>
    <%= f.submit 'Comentar ' %>
<% end %>