<h1>Adicionar Proposta HeadHunter</h1>

<%= form_for :head_proposal, url: head_proposals_path do |f| %>
    <div>
      <%= f.label :title, 'Título' %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body, 'Texto' %>
      <%= f.text_area :body %>
    </div>
    <%= f.submit 'Enviar' %>
<% end %>

<p><%= link_to 'Voltar', head_proposals_path %></p>